fuzzywuzzy
google_api_python_client
google_auth_oauthlib
huggingface_hub
numpy
protobuf
pyaudio
pytest
python-dotenv
Requests
selenium
sentence_transformers
sseclient
transformers
watchdog
simpleaudio
soundfile
torch
datasets
pydub